body {
   background-image: url('./assets/R.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: .2s ease-in-out;
}

.high-priority {
    font-weight: bold;
    color: #FF0000
}

.medium-priority {
    color:#FFAF00;
    font-weight:bold
}

.low-priority {
    color:#399918;
    font-weight:bold
}

.completed {
    text-decoration: line-through;
}

.form {
    display: flex;
    justify-content: space-between;
    padding-inline: 20dvw;
    align-items: center;
    height: 100vh;
    background-color: transparent; /* Remove background color if not needed */
}
.form > div:nth-child(2){
    
    backdrop-filter: blur(6px);
    border: 1px solid white;
    width: 400px;
    height: 200px;
    border-radius: 5%;
    font-size: larger;
    
    font-family: Arial, Helvetica, sans-serif;



}

.register {
    padding: 20px;
    border: 1px solid white;
    height: 500px;
    width: 400px;
    backdrop-filter: blur(6px);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

input {
    background-color: white;
    padding: 12px;
    margin-bottom: 20px;
    width: 250px;
    border: none;
    outline: none;
    align-items: center;
    border-radius: 25px;
    color: black;
    font-size: larger;
}

label {
    font-size: large;
    color: white;
}

.title {
    color:black
}

.delete {
    width: auto;
    height: auto;
}

.checkbox {
    height: auto;
    width: fit-content;
}

.add {
    height: auto;
    width: auto;
}

.priority {
    width: 250px;
    height: 10%;
    background-color:#C80036; 
    border-radius: 50pt;
    padding-inline: 20px;
    text-align: center;
}




.dark-mode {
    background: #242526;
    transition: .2s ease-in-out;
}

div > span {
    color: white;
    font-size: larger;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-container button {
    margin-right: 10px;
}

.button-container button:last-child {
    margin-right: 0;
}
.add{
    

}
.delete{
    color: #C80036;
    backdrop-filter: blur(6px);
    background-color: transparent;
    border: none;
    height: auto;
    width: auto;
}

.edit{
    color: black;
    backdrop-filter: blur(6px);
    background-color: transparent;
    border: none;
}
